---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

body {
	background:#ffffee url(/assets/images/cover.png) no-repeat fixed center center;
}

.main-header {
	background:transparent;
}

.content {
	background:transparent;
}

.main-header .page-title {
	font-family:'Architects Daughter', cursive;
	color:rgba(154,27,31,1);
}

.main-header .page-description {
	color:rgba(154,27,31,1);
}

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
